html
	body
		span= cards[0] + " " + cards[1]

		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(type="text/javascript", src="/js/lib/underscore-min.js")
		script(type="text/javascript", src="/js/lib/backbone-min.js")
		script(type="text/javascript", src="/js/app.js")